.block{
    &__title{
        position: absolute;
        top: 8px;
        left: 25px;
        color: rgb(121, 126, 139);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.25px;
    }
}