.services{
    &_wrap{
        max-width: 1690px;
    }
    &__nav{
        &__menu{
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_item{
                text-align: center;

                color: black;
                text-transform: uppercase;
            }
            &_link{
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                &:hover{
                    color: rgb(201, 12, 12);
                    animation-duration: 1s;
                    animation-name: color_text;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }

            }
        }

    }
}
@keyframes color_text {
    0%{
        color: rgb(255, 0, 0);
    }

    50%{
        color: rgb(8, 20, 255);
    }
   
    100%{
        color: rgb(255, 0, 0);
    }

}